.u-sm {
  display: none !important;

  @media (--sm) {
    display: block !important;
  }
}

.u-md {
  display: none !important;

  @media (--md) {
    display: block !important;
  }
}

.u-lg {
  display: none !important;

  @media (--lg) {
    display: block !important;
  }
}

.u-xl {
  display: none !important;

  @media (--xl) {
    display: block !important;
  }
}

.u-sm_max {
  display: none !important;

  @media (--sm_max) {
    display: block !important;
  }
}

.u-md_max {
  display: none !important;

  @media (--md_max) {
    display: block !important;
  }
}

.u-lg_max {
  display: none !important;

  @media (--lg_max) {
    display: block !important;
  }
}

.u-xl_max {
  display: none !important;

  @media (--xl_max) {
    display: block !important;
  }
}

p {
  &.u-es {
    font-size: 10px !important;
    line-height: 1.8;

    @media (--lg) {
      font-size: 12px !important;
    }
  }

  &.u-s {
    font-size: 12px !important;
    line-height: 1.8;

    @media (--lg) {
      font-size: 14px !important;
    }
  }

  &.u-m {
    font-size: 13px !important;
    line-height: 1.8;

    @media (--lg) {
      font-size: 15px !important;
    }
  }

  &.u-l {
    font-size: 16px;
    line-height: 1.8;
  }

  &.u-xl {
    font-size: 18px !important;
    line-height: 1.8;
  }
}

@for $i from 1 through 20 {
  .u-mt_#{$i * 5} {
    margin-top: 5px * $i;
  }
}

@for $i from 1 through 20 {
  .u-mb_#{$i * 5} {
    margin-bottom: 5px * $i;
  }
}

@for $i from 1 through 20 {
  .u-mr_#{$i * 5} {
    margin-right: 5px * $i;
  }
}

@for $i from 1 through 20 {
  .u-ml_#{$i * 5} {
    margin-left: 5px * $i;
  }
}

.u-ta_c {
  text-align: center;
}

.u-ta_r {
  text-align: right;
}
