* {
  box-sizing: border-box;
}

html {
  width: 100%;
  background-color: #f3f3f4;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-size: 14px;
  line-height: 1;
  color: $color-main;
  font-family: $font-serif;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

  @media (--md) {
    font-size: 16px;
  }
}

a {
  text-decoration: none;
  color: $color-main;
  transition: .24s ease all;

  @media (--md) {
    &:hover {
      color: $color-main-light;
      text-decoration: none;
    }
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

svg {
  display: inline-block;
  width: inherit;
  height: inherit;
}

