// color
$color-black: #000;
$color-white: #fff;
$color-grey: #c0cad6;
$color-grey-light: #f1f1f2;
$color-main: #0C2536;
$color-main-light: #3c5c84;
$color-border: #c0cad6;

// font-family
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Lato:wght@300&display=swap');

$font-sans: 'Yu Gothic Medium', '游ゴシック Medium', YuGothic, '游ゴシック体', 'ヒラギノ角ゴ Pro W3', 'メイリオ', sans-serif;
$font-serif: 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", HGS明朝E, メイリオ, Meiryo, serif;
$font-en-sans: 'Lato', $font-serif, sans-serif;
$font-en-serif: 'EB Garamond', $font-serif, serif;

//bp min
@custom-media --s (min-width: 340px);
@custom-media --xs (min-width: 425px);
@custom-media --sm (min-width: 554px);
@custom-media --md (min-width: 768px);
@custom-media --lg (min-width: 992px);
@custom-media --xl (min-width: 1200px);
@custom-media --xxl (min-width: 1600px);

//bp max
@custom-media --s_max (max-width: 341px);
@custom-media --xs_max (max-width: 424px);
@custom-media --sm_max (max-width: 553px);
@custom-media --md_max (max-width: 767px);
@custom-media --lg_max (max-width: 991px);
@custom-media --xl_max (max-width: 1199px);
@custom-media --xxl_max (max-width: 1599px);


//fz
@function get_vw($size, $viewport: 640) {
  $rate: 100 / $viewport;

  @return $rate * $size * 1vw;
}

@mixin fz($font_size: 10) {
  font-size: get_vw($font_size);

  @media (--sm) {
    font-size: $font_size - 2px;
  }

  @media (--md) {
    font-size: $font_size * 1px;
  }
}

//font-justify
%justify {
  text-align: justify;
  text-justify: inter-ideograph;
}

//hover
%hover-effect_opacity {
  transition: .4s ease;

  &:hover {
    opacity: .5;
    transition: .4s ease;
  }
}

%hover-effect_color {
  transition: .4s ease;

  &:hover {
    color: $color-main-light;
  }
}

//hover
%transition {
  transition: .24s ease;
}

//margin
%m-section-title___margin {
  margin-bottom: 30px;

  @media (--lg) {
    margin-bottom: 50px;
  }
}

%m-block-title___margin {
  margin-bottom: 10px;

  @media (--md) {
    margin-bottom: 20px;
  }
}