.m-top_h2 {
  position: relative;
  font-size: 16px;

  @media (--md) {
    font-size: 15px;
  }

  .en {
    display: inline-block;
    margin-bottom: 10px;
    font-family: $font-en-serif;
    letter-spacing: .1em;
  }

  .jp {
    font-family: $font-serif;
  }
}

.m-top_readmore {
  position: relative;
  padding-bottom: 10px;
  border-bottom: 1px solid #c0cad6;

  @media (--md) {
    padding-bottom: 15px;
  }
  
  a {
    position: relative;
    font-size: 12px;

    @media (--md) {
      font-size: 13px;

      &:hover {
        &::after {
          transform: translate(4px, 0);
        }
      }
    }

    &::after {
      content: 'ã€‰';
      position: relative;
      top: 1px;
      display: inline-block;
      margin-left: 4px;
      font-size: 12px;
      transition: .24s ease all;

      @media (--md) {
        top: 1px;
      }
    }
  }
}
