.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 60px 0;
  z-index: 0;

  // @include media(md) {
  //   padding: 60px 0;
  // }

  &-container {
    position: relative;
    margin: 0 15px;
    padding: 30px 0 30px;
    border-top: 2px solid #c0cad6;

    @include media(md) {
      margin: 0 50px;
      padding-top: 40px;
    }

    @media (--lg) {
      display: flex;
      justify-content: space-between;
    }
  }

  &_logo {
    margin-bottom: 50px;

    @media (--md) {
      margin-right: 60px;
    }

    a {
      display: block;
      
      svg {
        width: 160px;
        height: 40px;
        fill: $color-main;

        @media (--lg) {
          width: 210px;
          height: 50px;
        }
      }
    }
  }

  &_links {
    @media (--lg) {
      display: flex;
    }

    > ul {
      margin-bottom: 40px;

      &:last-child {
        margin-right: 0;
      }

      @media (--lg) {
        margin-right: 40px;
        margin-bottom: 0;
      }

      @media (--xl) {
        margin-right: 60px;
      }

      li {
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 1.2;

        @media (--md) {
          margin-bottom: 15px;
        }

        @media (--xl) {
          font-size: 13px;
        }

        a {
          @extend %hover-effect_color;
        }
      }
    }
  }

  &_contact {
    display: flex;

    &_search {
      @media (--sm) {
        margin-right: 40px;
      }

      @media (--md) {
        margin-right: 60px;
      }

      input {
        width: 200px;
        height: 40px;

        @media (--md) {
          width: 220px;
        }

        @media (--lg) {
          width: 250px;
        }
      }
    }

    &_mail {
      position: absolute;
      width: auto;
      top: 110px;
      right: 30px;
      writing-mode: vertical-rl;
      font-size: 14px;

      @media (--lg) {
        position: initial;
        font-size: 16px;
      }

      a {
        @extend %hover-effect_color;
      }
    }
  }
}
