#app {
  position: relative;
  min-height: 100vh;
  // padding-bottom: 674px;
  padding-bottom: 740px;
  z-index: 0;

  @media (--md) {
    padding-bottom: 734px;
  }

  @media (--lg) {
    padding-bottom: 600px;
  }
}

//下層ページのpt
%underPagePadding {
  padding-top: 120px;

  @media (--md) {
    padding-top: 150px;
  }

  @media (--lg) {
    padding-top: 200px;
  }
}

main {
  transition: .6s cubic-bezier(0.42, 0, 0.24, 1.03) all;
  transition-delay: .6s;

  &.is-open {
    transform: translate(-50%, 0);
    transition: 1.2s cubic-bezier(0.42, 0, 0.24, 1.03) all;
    transition-delay: .2s;
  }

  &#interview {
    @extend %underPagePadding;

    .m-h2 {
      @media (--md_max) {
        margin-bottom: 30px;
      }
    }
  }

  &:not(#top, #interview) {
    @extend %underPagePadding;

    .l-container {
      @media (--md) {
        display: flex;
      }
    }
  }
}

.l-container {
  position: relative;
  padding: 0 15px;

  @media (--md) {
    padding: 0 50px;
  }

  @media (--xl) {
    max-width: 1600px;
    margin: 0 auto;
  }

  &_side {
    @media (--md) {
      width: 15vw;
      margin-right: 4vw;
    }

    .m-h2 {
      margin-bottom: 36px;

      @media (--md) {
        margin-bottom: 60px;
      }

      &:nth-child(2) {
        @media (--md) {
          margin-bottom: 30px;
        }
      }
    }
  }

  &_content {
    @media (--md) {
      width: 85vw;
    }
  }

  &_mgt {
    .l-container_content {
      @media (--lg) {
        margin-top: 60px;
      }
    }
  }
}

.l-column2 {
  @media (--md) {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  &_item {
    // background-color: #ccc;

    @media (--md) {
      width: 50%;
    }
  }
}

