#company2 {
  #history {
    .l-container {
      @extend %section__border_full;
    }

    .company_contents {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: $color-border;
        top: 0;
        left: 0;

        @media (--md) {
          width: 100%;
          right: 0;
          left: initial;
          transform: translate(0, 0);
        }
      }

      &:first-child {
        &::after {
          content: none;
        }
      }
    }
  }

  #companies,
  #group {
    .m-h2 {
      @media (--md_max) {
        padding-top: 80px;
      }
    }
  }

  #companies
  {
    .l-container {
      @extend %section__border;
    }
  }

  .company {
    position: relative;

    &_sticky {
      padding-bottom: 50px;

      @media (--md) {
        position: sticky;
        margin-top: 60px;
        top: 18vh;
      }
    }

    &_anchor {
      @media (--md_max) {
        display: flex;
        flex-flow: row wrap;
        padding: 30px 0 10px;
        border-top: 1px solid $color-border;

        a {
          display: block;
          width: 50%;
          color: $color-main-light;

          .m-h2 {
            margin-bottom: 25px;
          }

          &:last-child {
            .m-h2 {
              margin-bottom: 20px;
            }
          }
        }
      }
      
      a {
        .m-h2 {
          @media (--md) {
            margin-bottom: 40px;
          }
        }
      }
    }

    &_category {
      @media (--md_max) {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
      }

      &_item {
        width: 48%;
        border-bottom: 1px solid $color-border;
        font-size: 13px;

        @media (--md) {
          width: 100%;
          font-size: 14px;
        }

        &:first-child {
          border-top: 1px solid $color-border;
        }

        &:nth-child(2) {
          @media (--md_max) {
            border-top: 1px solid $color-border;
          }
        }

        &:last-child {
          width: 100%;
        }

        a {
          display: block;
          padding: 15px 10px 12px;
          line-height: 1.4;
          color: $color-main-light;
        }
      }
    }

    &_contents {
      padding: 40px 0;

      @media (--md) {
        padding: 60px 0;
      }

      .m-h2 {
        margin-bottom: 40px;
        padding-bottom: 20px;
        border-bottom: 1px solid $color-border;
      }

      &:first-child {
        padding-top: 0;

        @media (--sm) {
          padding-top: 60px;
        }

        @media (--lg) {
          padding-top: 0;
        }
      }
    }

    &_history {
      li {
        display: flex;
        vertical-align: top;
        margin-bottom: 8px;
        font-size: 13px;
        line-height: 1.6;

        @media (--md) {
          font-size: 16px;
        }

        span {
          margin-right: 10px;
        }
      }
    }

    &_world {
      position: relative;

      span {
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
      }

      &.js-active {
        span {
          opacity: 1;
          transition: .8s ease;
          transition-delay: 2.5s;
        }
      }
    }

    &_accordion {
      &_parent {
        &:nth-child(-n + 2) {
          // border-top: none;
        }
      }
      

      &_parent {
        padding: 26px 0;
        border-top: 1px solid $color-border;
        // border-bottom: 1px solid $color-border;
        font-size: 22px;;

        @media (--md) {
          padding: 35px 0;
          cursor: pointer;
        }

        &:not(.is-active) {
          span {
            &::before {
              transform: rotate(90deg);
              opacity: 0;
            }
          }
        }

        span {
          position: relative;

          &::before {
            display: inline-block;
            position: absolute;
            content: "";
            font-family: $font-serif;
            margin-left: 10px;
            top: 3px;
            right: 8px;
            width: 1px;
            height: 17px;
            background-color: $color-main;
            transform: rotate(0deg);
            opacity: 1;
            transition: 0.24s ease;

            @media (--md) {
              height: 20px;
              top: 1px;
              right: 10px;
            }
          }

          &::after {
            display: inline-block;
            position: relative;
            content: "";
            font-family: $font-serif;
            margin-left: 10px;
            top: -8px;
            width: 17px;
            height: 1px;
            background-color: $color-main;
            transition: 0.24s ease;

            @media (--md) {
              width: 20px;
              top: -7px;
            }
          }
        }
      }

      &_child {
        display: none;
        // pointer-events: none;
        // height: 0;
        // opacity: 0;
        // transition-delay: .8s;
        // transition: 1.4s ease-out;

        // &:not(.is-active) {
        //   pointer-events: all;
        //   height: 100%;
        //   padding-bottom: 50px;
        //   opacity: 1;
        //   transition-delay: .8s;
        //   transition: 1.4s ease;
        // }
      }
    }

    &_group {
      padding: 40px 0;

      @media (--md) {
        padding: 60px 0;
      }

      &:first-of-type {
        padding-top: 0;
      }

      &_lead {
        margin-bottom: 20px;

        @media (--md) {
          margin-bottom: 45px;
        }
      }

      &_link {
        ul {
          @media (--md) {
            display: flex;
            flex-flow: row wrap;
          }

          li {
            @media (--md) {
              width: 48%;

              &:nth-child(2n) {
                margin-left: 4%;
              }
            }

            a {
              display: block;
              border-bottom: 1px solid $color-border;
              font-family: $font-sans;
              font-weight: bold;
              padding: 20px 0;

              @media (--md) {
                padding: 25px 0;
              }
    
              span {
                position: relative;
    
                &::after {
                  content: 'ã€‰';
                  display: inline-block;
                  margin-left: 6px;
                  transition: .24s ease all;
                }
              }

              @media (--md) {
                &:hover {
                  span {
                    &::after {
                      transform: translate(6px, 0);
                    }
                  }
                }
              }

              &.is-nolink {
                pointer-events: none;

                span {
                  &::after {
                    content: none;
                  }
                }
              }
            }

            &:first-child {
              a {
                border-top: 1px solid $color-border;
              }
            }

            &:nth-child(2) {
              a {
                @media (--md) {
                  border-top: 1px solid $color-border;
                }
              }
            }
          }
        }
      }
    }
  }
}