#member {
  .member {
    position: relative;

    &_section {
      .l-container {
        @extend %section__border;
        margin-top: 30px;
        position: relative;
        padding-top: 35px;

        @media (--md) {
          margin-top: 40px;
          padding-top: 40px;
          // padding-top: 50px;
        }

        @media (--lg) {
          margin-top: 55px;
          padding-top: 0;
        }

        @media (--md_max) {
          display: flex;
        }

        .l-container_side {
          @media (--md_max) {
            width: 20%;
            margin-right: 5%;
          }
        }

        .l-container_content {
          @media (--md_max) {
            width: 75%;
          }
        }
      }
    }

    &_detail {
      padding: 20px;
      background-color: $color-white;

      @media (--md) {
        padding: 50px;
      }

      &_wrapper {
        @media (--md) {
          display: flex;
          align-items: center;
        }
      }
      
      &_image {
        width: 80%;
        margin: 0 auto;

        @media (--md) {
          width: 40%;
          margin-right: 10%;
          text-align: right;

          img {
            width: 80%;
          }
        }
      }

      &_profile {
        margin-top: 30px;

        @media (--md) {
          width: 50%;
        }

        dl {
          @media (--md) {
            max-width: 360px;
          }
          
          dt {
            margin: 20px 0 7px;
            font-family: $font-sans;
            color: $color-main-light;
            font-size: 12px;

            @media (--md) {
              margin: 25px 0 10px;
            }
          }
          
          dd {
            min-height: 30px;
            line-height: 1.6;
            font-size: 13px;

            @media (--md) {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}