#motto {
  .motto {
    padding: 0 0 100px;
    position: relative;

    &_concept {
      margin: 0 auto;

      @media (--sm) {
        max-width: 400px;
      }

      @media (--lg) {
        max-width: 600px;
      }
    }
  }

  .index {
    padding: 0 0 100px;

    .l-container {
      @extend %section__border;
      padding-top: 40px;

      @media (--md) {
        &::before {
          width: calc(100% - 100px);
        }
      }
    }

    &_anchor {
      padding-bottom: 80px;

      @media (--md) {
        padding-bottom: 200px;
        border-bottom: 1px solid $color-border;
      }

      ul {
        display: flex;
        justify-content: center;
        font-size: 20px;

        @media (--md) {
          padding-top: 100px;
          font-size: 25px;
        }

        li {
          margin: 0 20px;
          writing-mode: vertical-rl;

          @media (--md) {
            margin: 0 40px;
          }
        }
      }
    }

    &_content {
      padding-top: 60px;
      text-align: center;
      border-top: 1px solid $color-border;

      @media (--md) {
        padding-top: 120px;
        border-top: none;
      }

      @media (--lg) {
        padding-top: 160px;
      }

      &#motto1,
      &#motto2,
      &#motto3,
      &#motto4 {
        padding-bottom: 60px;

        img {
          width: 80%;
          margin: 0 auto;

          @media (--md) {
            width: 100%;
          }
        }

        @media (--lg) {
          max-width: 900px;
          margin: 0 auto;
          text-align: right;
        }

        &:last-child {
          padding-bottom: 0;
        }
      }

      &#motto1 {
        img {
          @media (--md) {
            max-width: 700px;
          }
        }
      }

      &#motto2 {
        img {
          @media (--md) {
            max-width: 800px;
          }
        }
      }

      &#motto3 {
        img {
          @media (--md) {
            max-width: 800px;
          }
        }
      }

      &#motto4 {
        img {
          @media (--md) {
            max-width: 670px;
          }
        }
      }
    }
  }
}