%section_layout {
  .m-top_h2 {
    margin-bottom: 50px;

    @media (--md) {
      margin-bottom: 0;
    }
  }

  .wrapper {
    margin: 50px 0;

    @media (--md) {
      display: flex;
    }

    &_side {
      @media (--md) {
        width: 160px;
      }

      @media (--lg) {
        width: 240px;
      }
    }

    &_content {
      @media (--md) {
        width: calc(100% - 160px);
      }

      @media (--lg) {
        width: calc(100% - 240px);
      }
    }

    .m-top_readmore {
      margin-top: 40px;

      @media (--md) {
        margin-top: 50px;
      }
    }
  }
}

#top {
  .visual {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    
    &_slider {
      height: 100%;
      width: 100%;

      .slick {
        &-track {
          display: flex;
          position: relative;
          z-index: 0;
        }

        @keyframes fadezoom {
          0% {
            transform: scale(1);
          }

          100% {
            transform: scale(1.1);
          }
        }

        &-slide {
          background-color: #ccc;
          background-size: cover;
          background-repeat: none;
          background-position: center;

          &:nth-child(1) {
            background-image: url('../images/top/kv_1_sp.jpg');

            @media (--md) {
              background-image: url('../images/top/kv_1.jpg');
            }
          }

          &:nth-child(2) {
            background-image: url('../images/top/kv_2_sp.jpg');

            @media (--md) {
              background-image: url('../images/top/kv_2.jpg');
            }
          }

          &:nth-child(3) {
            background-image: url('../images/top/kv_1_sp.jpg');

            @media (--md) {
              background-image: url('../images/top/kv_1.jpg');
            }
          }

          &:nth-child(4) {
            background-image: url('../images/top/kv_2_sp.jpg');

            @media (--md) {
              background-image: url('../images/top/kv_2.jpg');
            }
          }

          &:nth-child(5) {
            background-image: url('../images/top/kv_1_sp.jpg');

            @media (--md) {
              background-image: url('../images/top/kv_1.jpg');
            }
          }

          &.is-animation {
            animation: fadezoom 15s 0s forwards;
          }
          
          .visual_slider_item {
            width: 100%;
            height: 100vh;
          }
        }

        &-dots {
          position: absolute;
          width: 50px;
          height: 50px;
          right: 5px;
          bottom: 128px;
          transform: scale(.6);

          @media (--md) {
            right: 26px;
            bottom: 130px;
            transform: scale(.7);
          }

          li {
            display: inline-block;
            position: absolute;
            font-size: 0;

            &:nth-child(1) {
              top: 1px;
              left: 19px;
            }

            &:nth-child(2) {
              top: 14px;
              left: 36px;
            }

            &:nth-child(3) {
              top: 33px;
              left: 31px;
            }

            &:nth-child(4) {
              top: 33px;
              left: 9px;
            }

            &:nth-child(5) {
              top: 15px;
              left: 4px;
            }


            
            button {
              cursor: pointer;
              width: 10px;
              height: 10px;
              border-radius: 50%;
              border-style: none;
              color: inherit;
              background-color: $color-white;
              opacity: .5;
              appearance: none;
              font-size: 0;

              @media (--md) {
                height: 12px;
              }
            }

            &.slick-active {
              button {
                opacity: 1;
              }
            }
          }
        }
      }
    }

    &_scroller {
      position: absolute;
      right: 29px;
      bottom: 0;
      width: 1px;
      height: 120px;
      overflow: hidden;
      background-color: #cccccc6e;

      @media (--md) {
        right: 50px;
      }

      &_border {
        height: 0;
        overflow: hidden;
        animation: wrap_on3 1s ease-in-out 1.5s forwards;

        span {
          position: absolute;
          display: block;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: $color-white;
          animation: scroll_border0 2.5s ease-in-out 2.5s infinite;
        }
      }
    }

    @keyframes wrap_on3 {
      0% {
        height: 0;
      }

      100% {
        height: 100%;
      }
    }

    @keyframes scroll_border0 {
      0%,
      100%,
      52% {
        top: 0;
        opacity: 1;
      }

      25% {
        top: 100%;
        opacity: 1;
      }

      26% {
        top: 100%;
        opacity: 0;
      }

      27% {
        top: -100%;
        opacity: 0;
      }
    }
  }

  .news {
    position: relative;
    @extend %section_layout;
    margin-top: 60px;

    @media (--md_max) {
      .m-top_readmore {
        width: 80%;
        margin: 0 0 0 auto;
      }
    }

    @media (--md) {
      margin-top: 100px;
    }
  }

  .press {
    position: relative;
    @extend %section_layout;

    @media (--md_max) {
      .m-top_readmore {
        width: 80%;
        margin: 0 0 0 auto;
      }
    }
  }

  .interview {
    position: relative;
    @extend %section_layout;
  }

  .schedule {
    position: relative;
    @extend %section_layout;
  }
}
